body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --bg-color: #f4f4f4;
  --text-color: #333;
  --primary-color: #4CAF50;
  --secondary-color: #2196F3;
}

.dark-theme {
  --bg-color: #333;
  --text-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: var(--primary-color);
  color: #fff;
  padding: 10px 0;
  border-bottom: var(--secondary-color) 3px solid;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header li {
  display: inline;
  padding: 10px 20px;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

button, input[type="submit"] {
  border-radius: 12px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
  border: 2px solid var(--primary-color);
}

.content-section {
  padding: 20px;
}

.add-book-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.search-isbn, .manual-add {
  width: 45%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 100px;
}

#pdf {
  display: block;
  margin-top: 10px;
}

#warning-banner {
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
}

#close-banner {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#theme-toggle img, #language-toggle {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.search-results {
  list-style: none;
  padding: 0;
}

.search-results li {
  background-color: #e9e9e9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Mobil uyumluluk */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  header ul {
    flex-direction: column;
  }

  header li {
    padding: 10px 0;
  }

  #warning-banner {
    padding: 20px;
  }

  .add-book-container {
    flex-direction: column;
  }

  .search-isbn, .manual-add {
    width: 100%;
    margin-bottom: 20px;
  }
}